 <div class="row">
    <div [ngClass]="isSidePanelVisible ?'col-8':'col-12'" >
        <div class="card">
            <div class="card-header bg-primary">
                <div class="row">
                    <div class="col-6 text-end">
                        Product list
                    </div>
                    <div class="col-6">
                        <button class="btn btn-sm btn-success" (click)="openSidePanel()">New</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-3">
                        <div class="card"  >
                            <img src="" class="card-img-top" alt="">
                            <div class="card-body">
                              <h5 class="card-title">Predator by Rynx</h5>
                              <p class="card-text"></p>
                              <a href="#" class="btn btn-primary">Buy</a>
                            </div>
                          </div>
                    </div>
                    <div class="col-3">
                        <div class="card"  >
                            <img src="" class="card-img-top" alt="">
                            <div class="card-body">
                              <h5 class="card-title">Reaper by Rynx</h5>
                              <p class="card-text"></p>
                              <a href="#" class="btn btn-primary">Buy Now</a>
                            </div>
                          </div>
                    </div>
                    <div class="col-3">
                        <div class="card">
                            <img src="" class="card-img-top" alt="">
                            <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                          </div>
                    </div>
                    <div class="col-3">
                        <div class="card">
                            <img src="" class="card-img-top" alt="">
                            <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4" *ngIf="isSidePanelVisible">
        <div class="card">
            <div class="card-header bg-primary">
                <div class="row">
                    <div class="col-6 text-end">
                        New Product list
                    </div>
                    <div class="col-6">
                        <button class="btn btn-sm btn-success" (click)="closeSidePanel()">Close</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <label for="">SKU</label>
                        <input type="text" [(ngModel)]="productObj.productSku" class="forn-control">
                    </div>
                    <div class="col-6">
                        <label for="">Name</label>
                        <input type="text" [(ngModel)]="productObj.productName" class="forn-control">
                    </div>
                    <div class="col-6">
                        <label for="">Price</label>
                        <input type="text" [(ngModel)]="productObj.productPrice" class="forn-control">
                    </div>
                    <div class="col-6">
                        <label for="">Short Name</label>
                        <input type="text" [(ngModel)]="productObj.productShortName" class="forn-control">
                    </div>
                    <div class="col-6">
                        <label for="">Description</label>
                        <input type="text" [(ngModel)]="productObj.productDescription" class="forn-control">
                    </div>
                    <div class="col-6">
                        <label for="">Category</label>
                        <select>
                            <option *ngFor="let cate of categoryList" [value]="cate.category">{{cate.categoryName}}</option>
                        </select>
                        <input type="text" [(ngModel)]="productObj.createdDate" class="forn-control">
                    </div>
                    <div class="col-6">
                        <label for="">Delivery Time Span</label>
                        <input type="text" [(ngModel)]="productObj.deliveryTimeSpan" class="forn-control">
                    </div>
                    <div class="col-6">
                        <label for="">Category ID</label>
                        <input type="text" [(ngModel)]="productObj.categoryId" class="forn-control">
                    </div>
                    <div class="col-6">
                        <label for="">Product Image URL</label>
                        <input type="text" [(ngModel)]="productObj.productImageUrl" class="forn-control">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 
